<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/policyholders">PolicyHolders</a>
    </li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>

<div class="col-md-12 title">
  <h2>{{ this.title }}</h2>
</div>
<div class="col-md-12">
  <form
    class="row pt-2 center"
    #userEditForm="ngForm"
    name="policyholderEditForm"
    (ngSubmit)="userEditForm.form.valid && onSubmit()"
  >
    <div class="column col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="IBAN">IBAN*</label>
          <input
            type="text"
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="selectedPolicyHolder.IBAN"
            IBAN="IBAN"
            #IBAN="ngModel"
            [ngClass]="{ 'is-invalid': IBAN.invalid }"
            required
            minlength="15"
          />
          <div *ngIf="IBAN.invalid && IBAN.touched" class="text-danger">
            <div *ngIf="IBAN.errors['required']">IBAN is required</div>
            <div *ngIf="IBAN.errors['minlength']">
              IBAN must be at least 15 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="FullName">Full Name*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.FullName"
            name="FullName"
            #FullName="ngModel"
            [ngClass]="{ 'is-invalid': FullName.invalid }"
            required
            minlength="2"
          />
          <div *ngIf="FullName.invalid && FullName.touched" class="text-danger">
            <div *ngIf="FullName.errors['required']">Full Name is required</div>
            <div *ngIf="FullName.errors['minlength']">
              Full Name must be at least 2 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Initials">Initials*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.Initials"
            name="Initials"
            #Initials="ngModel"
            [ngClass]="{ 'is-invalid': Initials.invalid }"
            required
            minlength="2"
          />
          <div *ngIf="Initials.invalid && Initials.touched" class="text-danger">
            <div *ngIf="Initials.errors['required']">Initials is required</div>
            <div *ngIf="Initials.errors['minlength']">
              Initials must be at least 2 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Email">E-mail*</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.Email"
            name="Email"
            #Email="ngModel"
            [ngClass]="{ 'is-invalid': Email.invalid }"
            required
            minlength="5"
          />
          <div *ngIf="Email.invalid && Email.touched" class="text-danger">
            <div *ngIf="Email.errors['required']">E-mail is required</div>
            <div *ngIf="Email.errors['minlength']">
              E-mail must be at least 5 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Telephone">Telephone*</label>
          <input
            type="tel"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.Telephone"
            name="Telephone"
            #Telephone="ngModel"
            [ngClass]="{ 'is-invalid': Telephone.invalid }"
            required
            minlength="6"
          />
          <div
            *ngIf="Telephone.invalid && Telephone.touched"
            class="text-danger"
          >
            <div *ngIf="Telephone.errors['required']">
              Telephone is required
            </div>
            <div *ngIf="Telephone.errors['minlength']">
              Telephone must be at least 6 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!userEditForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-outline-danger ml-2"
            (click)="onDelete()"
            [disabled]="!this.policyHolderId"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-outline-primary ml-2"
            routerLink="/policyholders"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="Address">Address*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.Address"
            name="Address"
            #Address="ngModel"
            [ngClass]="{ 'is-invalid': Address.invalid }"
            required
            minlength="2"
          />
          <div *ngIf="Address.invalid && Address.touched" class="text-danger">
            <div *ngIf="Address.errors['required']">Address is required</div>
            <div *ngIf="Address.errors['minlength']">
              Address must be at least 2 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Zipcode">Zipcode*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.Zipcode"
            name="Zipcode"
            #Zipcode="ngModel"
            [ngClass]="{ 'is-invalid': Zipcode.invalid }"
            required
            minlength="4"
          />
          <div *ngIf="Zipcode.invalid && Zipcode.touched" class="text-danger">
            <div *ngIf="Zipcode.errors['required']">Zipcode is required</div>
            <div *ngIf="Zipcode.errors['minlength']">
              Zipcode must be at least 4 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Lat">Latitude*</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.Lat"
            name="Lat"
            #Lat="ngModel"
            [ngClass]="{ 'is-invalid': Lat.invalid }"
            required
          />
          <div *ngIf="Lat.invalid && Lat.touched" class="text-danger">
            <div *ngIf="Lat.errors['required']">Latitude is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Long">Longitude*</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="selectedPolicyHolder.Long"
            name="Long"
            #Long="ngModel"
            [ngClass]="{ 'is-invalid': Long.invalid }"
            required
          />
          <div *ngIf="Long.invalid && Long.touched" class="text-danger">
            <div *ngIf="Long.errors['required']">Longitude is required</div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-12 row pt-2 center">
    <div *ngIf="isUnAuthorized" class="form-row text-danger">
      You are not allowed to modify or delete this Policy Holder
    </div>
  </div>
</div>
