<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Insurers</li>
    <li class="breadcrumb-item"><a routerLink="new">New</a></li>
  </ol>
</nav>
<div class="row mx-auto pt-2">
  <div class="col-md-12 title">
    <h2>Insurer Overview</h2>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th [width]="50">#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Zipcode</th>
      </tr>
      <tr *ngFor="let i of insurers">
        <td>{{ i.ID }}</td>
        <td>
          <a routerLink="/insurers/edit/{{ i.ID }}">{{ i.Name }}</a>
        </td>
        <td>{{ i.Address }}</td>
        <td>{{ i.Zipcode }}</td>
      </tr>
    </table>
  </div>
</div>
