<div class="row mx-auto pt-2 stretch-vertical">
  <div class="col-md-12 flex-center align-items-vertical">
    <div>
      <div class="col-md-12 title">
        <h2>Welcome!</h2>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary" routerLink="/users">Users</button>
        <button class="btn btn-outline-primary ml-2" routerLink="/about">
          About
        </button>
      </div>
    </div>
  </div>
</div>
