<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/insurances">Insurances</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>

<div class="col-md-12 title">
  <h2>{{ this.title }}</h2>
</div>
<div class="col-md-12">
  <form
    class="row pt-2 center"
    #userEditForm="ngForm"
    name="insuranceEditForm"
    (ngSubmit)="userEditForm.form.valid && onSubmit()"
  >
    <div class="column col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="PaymentPeriodMonths">Payment Period (Months)*</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="selectedInsurance.PaymentPeriodMonths"
            name="PaymentPeriodMonths"
            #PaymentPeriodMonths="ngModel"
            [ngClass]="{ 'is-invalid': PaymentPeriodMonths.invalid }"
            required
            min="1"
            max="36"
          />
          <div
            *ngIf="PaymentPeriodMonths.invalid && PaymentPeriodMonths.touched"
            class="text-danger"
          >
            <div *ngIf="PaymentPeriodMonths.errors['required']">
              Payment Period (Months) is required
            </div>
            <div *ngIf="PaymentPeriodMonths.errors['min']">
              Payment Period (Months) must be at least 1 month
            </div>
            <div *ngIf="PaymentPeriodMonths.errors['max']">
              Payment Period (Months) must be at maximum of 36 months
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="PrevCollectionDateEntry">Prev. Collection Date*</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="selectedInsurance.PrevCollectionDateEntry"
            name="PrevCollectionDateEntry"
            #PrevCollectionDateEntry="ngModel"
            [ngClass]="{ 'is-invalid': PrevCollectionDateEntry.invalid }"
            required
          />
          <div
            *ngIf="
              PrevCollectionDateEntry.invalid && PrevCollectionDateEntry.touched
            "
            class="text-danger"
          >
            <div *ngIf="PrevCollectionDateEntry.errors['required']">
              Prev. Collection Date is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="NextCollectionDateEntry">Next Collection Date*</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="selectedInsurance.NextCollectionDateEntry"
            name="NextCollectionDateEntry"
            #NextCollectionDateEntry="ngModel"
            [ngClass]="{ 'is-invalid': NextCollectionDateEntry.invalid }"
            required
          />
          <div
            *ngIf="
              NextCollectionDateEntry.invalid && NextCollectionDateEntry.touched
            "
            class="text-danger"
          >
            <div *ngIf="NextCollectionDateEntry.errors['required']">
              Next Collection Date is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!userEditForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-outline-danger ml-2"
            (click)="onDelete()"
            [disabled]="!this.insuranceId"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-outline-primary ml-2"
            routerLink="/insurances"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="Type">Type</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedInsurance.InsuranceType.TypeName"
            name="Type"
            #Type="ngModel"
            [ngClass]="{ 'is-invalid': Type.invalid }"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="Description">Description*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedInsurance.Description"
            name="Description"
            #Description="ngModel"
            [ngClass]="{ 'is-invalid': Description.invalid }"
            required
            minlength="2"
            maxlength="255"
          />
          <div
            *ngIf="Description.invalid && Description.touched"
            class="text-danger"
          >
            <div *ngIf="Description.errors['required']">
              Description is required
            </div>
            <div *ngIf="Description.errors['minlength']">
              Description must be at least 2 characters long
            </div>
            <div *ngIf="Description.errors['maxlength']">
              Description must be at maximum 255 characters long
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Insurer">Insurer*</label>
          <select
            type="text"
            class="form-control"
            [(ngModel)]="insurerEntry"
            name="Insurer"
            #Insurer="ngModel"
            [ngClass]="{ 'is-invalid': Insurer.invalid }"
            required
          >
            <option *ngFor="let i of insurerEntries" [value]="i">
              {{ i }}
            </option>
          </select>
          <div *ngIf="Insurer.invalid && Insurer.touched" class="text-danger">
            <div *ngIf="Insurer.errors['required']">Insurer is required</div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-12 row pt-2 center">
    <div *ngIf="isUnAuthorized" class="form-row text-danger">
      You are not allowed to modify or delete this Insurance
    </div>
  </div>
</div>
