<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/insurers">Insurers</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>

<div class="col-md-12 title">
  <h2>{{ this.title }}</h2>
</div>
<div class="col-md-12">
  <form
    class="row pt-2 center"
    #userEditForm="ngForm"
    name="insurerEditForm"
    (ngSubmit)="userEditForm.form.valid && onSubmit()"
  >
    <div class="column col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="name">Name*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedInsurer.Name"
            name="name"
            #name="ngModel"
            [ngClass]="{ 'is-invalid': name.invalid }"
            required
            minlength="3"
          />
          <div *ngIf="name.invalid && name.touched" class="text-danger">
            <div *ngIf="name.errors['required']">Name is required</div>
            <div *ngIf="name.errors['minlength']">
              Name must be at least 3 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="address">Address*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedInsurer.Address"
            name="address"
            #address="ngModel"
            [ngClass]="{ 'is-invalid': address.invalid }"
            required
            minlength="1"
          />
          <div *ngIf="address.invalid && address.touched" class="text-danger">
            <div *ngIf="address.errors['required']">Address is required</div>
            <div *ngIf="address.errors['minlength']">
              Address must be at least 1 character long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!userEditForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-outline-danger ml-2"
            (click)="onDelete()"
            [disabled]="!this.insurerId"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-outline-primary ml-2"
            routerLink="/insurers"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="zipcode">Zipcode*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedInsurer.Zipcode"
            name="zipcode"
            #zipcode="ngModel"
            [ngClass]="{ 'is-invalid': zipcode.invalid }"
            required
            minlength="4"
          />
          <div *ngIf="zipcode.invalid && zipcode.touched" class="text-danger">
            <div *ngIf="zipcode.errors['required']">Zipcode is required</div>
            <div *ngIf="zipcode.errors['minlength']">
              Zipcode must be at least 4 characters long
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-md-12 row pt-2 center">
    <div *ngIf="isUnAuthorized" class="form-row text-danger">
      You are not allowed to modify or delete this Insurer
    </div>
  </div>
</div>
