<footer class="text-center footer">
  <div class="text-center p-3">
    <p><i>© 2021 Avans Hogeschool NL, Pascal Stoop, All rights reserved.</i></p>
    <p><a href="">Privacy</a> | <a routerLink="about">About</a></p>
  </div>
</footer>
