<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/users">Users</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>

<div class="col-md-12 title">
  <h2>{{ this.title }}</h2>
</div>
<div class="col-md-12">
  <form
    [formGroup]="userForm"
    class="row pt-2 center"
    (ngSubmit)="userForm.valid && onSubmit()"
  >
    <div class="column col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="userName">Username*</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedUser.UserName"
            formControlName="userName"
            [ngClass]="{ 'is-invalid': userForm.get('userName').invalid }"
          />
          <div
            *ngIf="
              userForm.get('userName').invalid &&
              userForm.get('userName').touched
            "
            class="text-danger"
          >
            <div *ngIf="userForm.get('userName').errors['required']">
              Username is required
            </div>
            <div *ngIf="userForm.get('userName').errors['minlength']">
              Username must be at least 3 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="initials">Initials*</label>
          <input
            type="text"
            class="form-control"
            formControlName="initials"
            [(ngModel)]="selectedUser.Initials"
            [ngClass]="{ 'is-invalid': userForm.get('initials').invalid }"
          />
          <div
            *ngIf="
              userForm.get('initials').invalid &&
              userForm.get('initials').touched
            "
            class="text-danger"
          >
            <div *ngIf="userForm.get('initials').errors['required']">
              Initials is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="insurer">Insurer*</label>
          <select
            class="custom-select mr-sm-2"
            id="insurerSelect"
            formControlName="insurer"
            [(ngModel)]="insurerEntry"
          >
            <option *ngFor="let i of insurerEntries" [value]="i">
              {{ i }}
            </option>
          </select>
          <div
            *ngIf="
              userForm.get('insurer').invalid && userForm.get('insurer').touched
            "
            class="text-danger"
          >
            <div *ngIf="userForm.get('insurer').errors['required']">
              Insurer is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!userForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-outline-danger ml-2"
            (click)="onDelete()"
            [disabled]="!this.userId"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-outline-primary ml-2"
            routerLink="/users"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="column col-md-6">
      <div class="form-row">
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth*</label>
          <input
            type="date"
            class="form-control"
            formControlName="dateOfBirth"
            [(ngModel)]="selectedUser.DateOfBirthEntry"
            [ngClass]="{ 'is-invalid': userForm.get('dateOfBirth').invalid }"
          />
          <div
            *ngIf="
              userForm.get('dateOfBirth').invalid &&
              userForm.get('dateOfBirth').touched
            "
            class="text-danger"
          >
            <div *ngIf="userForm.get('dateOfBirth').errors['required']">
              Date of Birth is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="gender">Gender*</label>
          <select
            class="custom-select mr-sm-2"
            id="genderSelect"
            formControlName="gender"
            [(ngModel)]="selectedUser.Gender"
          >
            <option selected>None</option>
            <option *ngFor="let g of genders" [value]="g">
              {{ g }}
            </option>
          </select>
          <div
            *ngIf="
              userForm.get('gender').invalid && userForm.get('gender').touched
            "
            class="text-danger"
          >
            <div *ngIf="userForm.get('gender').errors['required']">
              Gender is required
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
