<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Insurances</li>
    <li class="breadcrumb-item"><a routerLink="new">New</a></li>
  </ol>
</nav>
<div class="row mx-auto pt-2">
  <div class="col-md-12 title">
    <h2>Insurance Overview</h2>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th [width]="50">#</th>
        <th>Payment Period (months)</th>
        <th>Prev. Collection Date</th>
        <th>Next Collection Date</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let i of insurances">
        <td>
          <a routerLink="/insurances/edit/{{ i.ID }}">{{ i.ID }}</a>
        </td>
        <td>{{ i.PaymentPeriodMonths }}</td>
        <td>{{ formatDateString(i.PrevCollectionDate) }}</td>
        <td>{{ formatDateString(i.NextCollectionDate) }}</td>
        <td>{{ i.Description }}</td>
      </tr>
    </table>
  </div>
</div>
