/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-52 {
  padding-bottom: 52px;
}

.wrap-break {
  word-wrap: break-word;
  word-break: normal;
}

.title {
  text-align: center;
}

.breadcrumb {
  background-color: transparent;
}

.center {
  width: 50%;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align-items-vertical {
  align-items: center;
}

.stretch {
  width: 100%;
  height: 100%;
}

.stretch-horizontal {
  width: 100%;
}

.stretch-vertical {
  height: 100%;
}
