<div class="row mx-auto pt-2">
  <div class="col-md-12 title">
    <h2>About</h2>
    <h3>Pascal Stoop | 2140060</h3>
  </div>
  <div class="col-md-12">
    <div class="row mx-2">
      <div class="col-md-6 border">
        <div class="title">
          <h4><b>Beschrijving</b></h4>
        </div>
        <div class="wrap-break">
          Het project wat ik ga realiseren is een kleine verzekeringsmanagement
          systeem voor verzekeraars/tussenpersonen, ruw gebaseerd op een systeem
          waar ik ooit op een mbo-stage aan heb moeten werken.
          <br />
          Verzekeraars/tussenpersonen kunnen verzekeringen voor
          verzekeringsnemers invoeren in het systeem (zie de paragraaf
          <b>Entiteiten</b> voor de opzet). De 3 entiteiten die ik op dit moment
          heb gerealiseerd zijn: Insurer, PolicyHolder en Insurance. Alle
          entiteiten kunnen toegevoegd (Create), gelezen (Read), aangepast
          (Update) en verwijderd (Delete) worden. De gebruikers kunnen alleen de
          verzekeringen aanpassen die ze zelf hebben aangemaakt. Dat geld ook
          voor Verzekeringsnemers (PolicyHolder) en Verzekeraars (Insurance).
          Alleen verzekeraars kunnen inloggen en worden geauthentiseerd d.m.v.
          de API. Het idee is dat verzekeringsnemers in de toekomst op een
          aparte pagina middels een polisnummer en email zijn/haar polis kunnen
          weergeven met de bijbehorende data en een eventuele download.
          Uiteraard is het aan de verzekeraar/tussenpersoon om dit te
          verstrekken via de email of een schriftelijke uitgave.
          <br />
          In het systeem kun je verschillende typen verzekeringen gebruiken
          zoals: All-risk, WA, Inboedel etc. Op dit moment wordt er een
          standaard InsuranceType gebruikt bij elke verzekering.
          <br />
          Verzekeraars kunnen ook d.m.v. latitude en longitude data de
          verzekeringsnemers zien op een Google Maps kaart. Zo kunnen eventuele
          bezoekingen worden afgestemd op locatie (bijv. welke werknemer er het
          dichtste bij woont).
          <br />
          Een betalingsperiode bestaat zowel in <b>Insurance</b> als in
          <b>InsuranceType</b>, om ervoor te zorgen dat bij het aanmaken van een
          nieuwe verzekering meteen de default waarde wordt ingevuld als een
          type wordt geselecteerd.
          <br />
          Bestaande verzekeraars kunnen in het systeem ook nieuwe
          verzekeraars-users (User) aanmaken. Het wachtwoord zal in principe in
          hashvorm worden opgeslagen, maar op dit moment wordt er een standaard
          wachtwoord aangemaakt voor elke gebruiker.
          <br />
          In het vervolg zou het systeem nog eventueel uitgebreid kunnen worden
          met appointments, email verificatie (registratie en polisweergave),
          een message/comment systeem en rolesysteem voor bevoegdheden
          (afdelingen, stagiaires etc.)
          <br />
          De relaties tussen de entiteiten zijn als volgt. Een <b>User</b> houdt
          bij over welke <b>Insurer</b> het gaat. Een <b>Insurance</b> houdt
          bij, bij welke <b>Insurer</b> het verzekerd is. Daarnaast houdt het
          ook bij wat voor <b>InsuranceType</b> het is en welke
          <b>InsurancePolicy</b> daarbij hoort. Voorderest houdt een
          <b>InsurancePolicy</b> dan weer bij welke <b>PolicyHolder</b> de
          verzekering heeft afgesloten.
          <br />
          Ten slotte is in elke entiteit ook een <b>EntityData</b> schema
          embedded, om bij te houden wie er iets heeft aangepast en wanneer en
          hoelaat dat is gebeurd. Via dit kan de API waarborgen dat een
          gebruiker alleen zijn/haar eigen data mag aanpassen. De App maakt op
          basis van het response de keuze of dit mag.
        </div>
      </div>
      <div class="col-md-6 border">
        <div class="title">
          <h4><b>Entiteiten</b></h4>
        </div>
        <div class="row">
          <div class="col-md-3 wrap-break">
            <b>*. User</b>
            <ol>
              <ul>
                - Id
                <i>PK</i>
              </ul>
              <ul>
                - EntityDataId
                <i>FK</i>
              </ul>
              <ul>
                - InsurerId
                <i>FK</i>
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                UserName
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                PasswordHash
              </ul>
              <ul>
                -
                <b class="text-primary">datetime</b>
                LoginDate
              </ul>
            </ol>
          </div>
          <div class="col-md-3 wrap-break">
            <b>1. Insurer</b>
            <ol>
              <ul>
                - Id
                <i>PK</i>
              </ul>
              <ul>
                - EntityDataId
                <i>FK</i>
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Name
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Address
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Zipcode
              </ul>
            </ol>
          </div>
          <div class="col-md-3 wrap-break">
            <b>2. PolicyHolder</b>
            <ol>
              <ul>
                - Id
                <i>PK</i>
              </ul>
              <ul>
                - EntityDataId
                <i>FK</i>
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                IBAN
                <i>Neppe data/structuur</i>
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                FullName
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Initials
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Email
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Telephone
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Address
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Zipcode
              </ul>
              <ul>
                -
                <b class="text-primary">double</b>
                Lat
              </ul>
              <ul>
                -
                <b class="text-primary">double</b>
                Long
              </ul>
            </ol>
          </div>
          <div class="col-md-3 wrap-break">
            <b>3. Insurance</b>
            <ol>
              <ul>
                - Id
                <i>PK</i>
              </ul>
              <ul>
                - EntityDataId
                <i>FK</i>
              </ul>
              <ul>
                - InsurerId
                <i>FK</i>
              </ul>
              <ul>
                - InsuranceTypeId
                <i>FK</i>
              </ul>
              <ul>
                - InsurancePolicyId
                <i>FK</i>
              </ul>
              <ul>
                -
                <b class="text-primary">num</b>
                PaymentPeriodMonths
              </ul>
              <ul>
                -
                <b class="text-primary">date</b>
                PrevCollectionDate
              </ul>
              <ul>
                -
                <b class="text-primary">date</b>
                NextCollectionDate
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                Description
              </ul>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 wrap-break">
            <b>*. InsuranceType</b>
            <ol>
              <ul>
                - Id
                <i>PK</i>
              </ul>
              <ul>
                - EntityDataId
                <i>FK</i>
              </ul>
              <ul>
                -
                <b class="text-primary">text</b>
                TypeName
              </ul>
              <ul>
                -
                <b class="text-primary">num</b>
                PaymentPeriodMonths
              </ul>
            </ol>
          </div>
          <div class="col-md-3 wrap-break">
            <b>*. InsurancePolicy</b>
            <ol>
              <ul>
                - Id
                <i>PK</i>
              </ul>
              <ul>
                - EntityDataId
                <i>FK</i>
              </ul>
              <ul>
                - PolicyHolderId
                <i>FK</i>
              </ul>
              <ul>
                -
                <b class="text-primary">long</b>
                PolicyNumber
              </ul>
              <ul>
                -
                <b class="text-primary">double</b>
                Premium
              </ul>
              <ul>
                -
                <b class="text-primary">double</b>
                DiscountPercentage
              </ul>
            </ol>
          </div>
          <div class="col-md-3 wrap-break">
            <b>*. EntityData</b>
            <ol>
              <ul>
                - Id
                <i>PK</i>
              </ul>
              <ul>
                - ChangedById
                <i>FK(InsurerId)</i>
              </ul>
              <ul>
                -
                <b class="text-primary">datetime</b>
                LastChanged
              </ul>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-6 border">
        <div class="title">
          <h4><b>Datamodel</b></h4>
        </div>
        <div class="flex-center">
          <img src="../../../assets/cswp_datamodel.png" />
        </div>
      </div>
    </div>
  </div>
</div>
