<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Users</li>
    <li class="breadcrumb-item"><a routerLink="new">New</a></li>
  </ol>
</nav>
<div class="row mx-auto pt-2">
  <div class="col-md-12 title">
    <h2>User Overview</h2>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th [width]="50">#</th>
        <th>Username</th>
        <th>Initials</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Insurer</th>
      </tr>
      <tr *ngFor="let u of users">
        <td>{{ u.ID }}</td>
        <td>
          <a routerLink="/users/edit/{{ u.ID }}">{{ u.UserName }}</a>
        </td>
        <td>{{ u.Initials }}</td>
        <td>{{ formatDateString(u.DateOfBirth) }}</td>
        <td>{{ u.Gender }}</td>
        <td>{{ u.Insurer.Name }}</td>
      </tr>
    </table>
  </div>
</div>
