<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">PolicyHolders</li>
    <li class="breadcrumb-item"><a routerLink="new">New</a></li>
  </ol>
</nav>
<div class="row mx-auto pt-2">
  <div class="col-md-12 title">
    <h2>Policy Holder Overview</h2>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th [width]="50">#</th>
        <th>IBAN</th>
        <th>FullName</th>
        <th>Initials</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Zipcode</th>
      </tr>
      <tr *ngFor="let i of policyHolders">
        <td>{{ i.ID }}</td>
        <td>
          <a routerLink="/policyholders/edit/{{ i.ID }}">{{ i.IBAN }}</a>
        </td>
        <td>{{ i.FullName }}</td>
        <td>{{ i.Initials }}</td>
        <td>{{ i.Email }}</td>
        <td>{{ i.Telephone }}</td>
        <td>{{ i.Address }}</td>
        <td>{{ i.Zipcode }}</td>
      </tr>
    </table>
  </div>
</div>
