<div class="col-md-12 title">
  <h2>Login</h2>
</div>
<form
  [formGroup]="authForm"
  class="center col-md-4"
  (ngSubmit)="authForm.valid && onSubmit()"
>
  <div class="column">
    <div class="form-row">
      <div class="form-group">
        <label for="userName">Username*</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="UserName"
          formControlName="userName"
          [ngClass]="{ 'is-invalid': authForm.get('userName').invalid }"
        />
      </div>
      <div
        *ngIf="
          authForm.get('userName').invalid && authForm.get('userName').touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="authForm.get('userName').errors['required']">
          Username is required
        </div>
        <div *ngIf="authForm.get('userName').errors['minlength']">
          Username must be at least 3 characters long
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="password">Password*</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="Password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': authForm.get('password').invalid }"
        />
      </div>
      <div
        *ngIf="
          authForm.get('password').invalid && authForm.get('password').touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="authForm.get('password').errors['required']">
          Password is required
        </div>
        <div *ngIf="authForm.get('password').errors['minlength']">
          Password must be at least 3 characters long
        </div>
      </div>
    </div>
    <div class="form-row">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!authForm.valid"
      >
        Submit
      </button>
    </div>
  </div>
</form>
<div class="center col-md-4">
  <div *ngIf="isFailedLogin" class="form-row text-danger">
    The provided credentials are incorrect
  </div>
</div>
