<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home">CSWP-Individueel</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Log-in</a>
      </li>
      <li class="nav-item pr-5">
        <a class="nav-link" routerLink="-" (click)="this.logOut()">Log-out</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['text-primary']"
          routerLink="users"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['text-primary']"
          routerLink="insurers"
          >Insurers</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['text-primary']"
          routerLink="policyholders"
          >Policy Holders</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['text-primary']"
          routerLink="insurances"
          >Insurances</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActive]="['text-primary']"
          routerLink="about"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
