<head>
  <title>{{ title }}</title>
</head>
<body
  class="mat-typography"
  [ngClass]="!(routeUrl === '/home') ? 'pb-100' : 'pb-52'"
>
  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <app-footer *ngIf="!(routeUrl === '/home')"></app-footer>
</body>
